header{
    
   
    background-color: black;
    padding: 0px;
    position:static;
    top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    left: 0;
    width: 100%;
    height: auto;
    
    box-sizing: border-box;
    
    font-style: oblique;
}
header h1 {
    color: #f60d0d;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 90px;
}

.logo img {
    width: 100px; 
    height: auto;
    margin-right: 10px;
    float: left; 
    display: block;

}

body {
    font-family: Arial, sans-serif;
    font-size: 25px;
    background-image: url(background.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
}
main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px); /* Adjust to ensure footer is always at bottom */
  }
  
  .cart {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust as needed */
  }
  
  .cart h2 {
    margin-bottom: 20px;
  }
  
  .cart ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .cart ul li {
    margin-bottom: 10px;
  }
  
  .cart button {
    background-color: #f90000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cart button:hover {
    background-color: #000000;
  }